.inputForm form {
  display: flex;
  flex-direction: column;
}

.inputForm label {
  margin-bottom: 0.5rem;
  font-weight: 500;
}

.inputForm input[type="text"],
.inputForm input[type="email"],
.inputForm input[type="date"] {
  padding: 0.75rem;
  margin-bottom: 1.5rem;
  border: 1px solid var(--input-border-color);
  border-radius: 8px;
  font-size: 1rem;
  color: var(--input-text-color);
  background-color: #141f2a; 
  transition: border-color 0.3s;
}

.inputForm input::placeholder {
  color: var(--input-placeholder-color);
  opacity: 1; 
}

.inputForm input[type="text"]:focus,
.inputForm input[type="email"]:focus,
.inputForm input[type="date"]:focus {
  border-color: var(--primary-color);
  outline: none;
}

/* Radio group styling */
.inputForm .radio-group {
  display: flex;
  gap: 1rem;
  margin-bottom: 1.5rem;
  align-items: center;
}


.inputForm input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 1.2em;
  height: 1.2em;
  border: 2px solid var(--subtext-color);
  border-radius: 50%;
  position: relative;
  cursor: pointer;
  transition: border-color 0.3s, background-color 0.3s;
}

.inputForm input[type="radio"]::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  width: 0.6em;
  height: 0.6em;
  background-color: var(--primary-color);
  border-radius: 50%;
  transition: transform 0.2s ease-in-out;
}

.inputForm input[type="radio"]:checked {
  border-color: var(--primary-color);
}

.inputForm input[type="radio"]:checked::after {
  transform: translate(-50%, -50%) scale(1);
}

/* Buttons */
.inputForm button {
  padding: 0.75rem;
  margin-top: 1rem;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.inputForm button[type="submit"] {
  background-color: var(--primary-color);
  color: #ffffff;
}

.inputForm button[type="submit"]:hover {
  background-color: #1e4bb8;
}

.inputForm button[type="button"] {
  background-color: #e0eaf4;
  color: var(--text-color);
  margin-right: 1rem;
}

.inputForm button[type="button"]:hover {
  background-color: #cbd5e0;
}
