/* App.css */

/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

:root {
  --primary-color: #2563EB; 
  --background-color: #f6f8fb;
  --input-border-color: #e0eaf4;
  --text-color: #141f2a;
  --subtext-color: #5a7083;
  --input-text-color: #ffffff; 
  --input-placeholder-color: #ffffffa0; 
  --font-family: 'DM Sans', sans-serif;
}


body {
  margin: 0;
  padding: 0;
  font-family: var(--font-family);
  background-color: var(--background-color);
  color: var(--text-color);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.App {
  width: 100%;
  max-width: 600px;
  padding: 2rem;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  font-weight: 700;
  font-size: 2rem;
}